footer{
    background-color: #112e42;
    padding: 10px 0;
}
footer p{
    color: #f1f1f1;
    margin-bottom: 0 !important;
}
.footer_icon{
    text-align: end;
}
.footer_icon a{
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border: 2px solid #05a4ea;
    border-radius: 50%;
    font-size: 14px;
    margin-right: 20px;
    transition: .3s;
    z-index: 1;
    overflow: hidden;
    &:hover{
        color: #290909 !important;
    }
    &:hover::after{
        width: 100%;
    }
    &::after{
        position: absolute;
        content: "";
        left: 0;
        top: 0;
        width: 0;
        height: 100%;
        background-color: #05a4ea;
        border-radius: 50%;
        transition: .3s;
        z-index: -1;
    }
}